<div class="couter-conrainer">
    <button (click)="countMinuse()" class="minuse"><svg width="24" height="24" viewBox="0 0 32 51" xmlns="http://www.w3.org/2000/svg"
            style="cursor: pointer;">
            <path d="M5 25.5 H27" />
        </svg>
    </button>
    <input [value]="inputCount" value="1" type="number">
    <button (click)="countPlus()" class="plus"><svg width="24" height="24" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg" style="cursor: pointer;">
            <path d="M12 4 V20" />
            <path d="M4 12 H20" />
        </svg>

    </button>
</div>