<div class="footer-top-line"></div>
<footer class="footer">
    <div class="footer-content">
      <div class="main_container footer-columns">
        <div class="footer-col">
          <h4>Інформація про компанію</h4>
          <ul>
            <li><a href="#">Про нас</a></li>
            <li><a href="#">Умови використання</a></li>
            <li><a href="#">Контакти</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Допомога</h4>
          <ul>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Гарантія</a></li>
            <li><a href="#">Повернення товару</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Сервіси</h4>
          <ul>
            <li><a href="#">Бонусний рахунок</a></li>
            <li><a href="#">Подарункові сертифікати</a></li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>© 2025 Mini-YozetkaSan™ — Всі права захищені</p>
    </div>
</footer>