<div class="footer-top-line"></div>
<footer class="footer">
    <div class="footer-content">
      <div class="main_container footer-columns">
        <div class="footer-col">
          <h4>Інформація про компанію</h4>
          <ul>
            <li><a routerLink="/about">Про нас</a></li>
            <li><a routerLink="/terms">Умови використання</a></li>
            <li><a routerLink="/contacts">Контакти</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Допомога</h4>
          <ul>
            <li><a routerLink="/delivery">Доставка</a></li>
            <li><a routerLink="/warranty">Гарантія</a></li>
            <li><a routerLink="/returns">Повернення товару</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Сервіси</h4>
          <ul>
            <li><a routerLink="/bonus">Бонусний рахунок</a></li>
            <li><a routerLink="/gift-cards">Подарункові сертифікати</a></li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>© 2025 Mini-Yozetka™ — Всі права захищені</p>
    </div>
</footer>