<!-- <b class="txtHeader">Коментарі</b> 

<div class="bodyCommitBox">
    <div class="dataText">
        <b class="name">name</b>
        <span class="gray">Відгук від покупця. Продавець: Rozetka </span>
    </div>
    <input type="text" class="commentTxt" [(ngModel)] = "textCommit" >
    <button type="submit" class="send" (click)="saveToLocalStorage()">Відправити коментар</button>
</div> -->

<!-- (input) = "saveToLocalStorage()" -->

<!-- Список коментарів -->
<div class="w-full p-6 shadow-md rounded-xl box-commit">
  <!-- Заголовок -->
  <h2 class="text-xl font-semibold txt mb-4">Коментарі</h2>

  <!-- Комментарий от пользователя -->
  <div class="flex items-start gap-4 mb-6">
    <img [src]="randomAvatars[1]" alt="avatar" class="w-10 h-10 rounded-full" />

    <div>
      <p class="font-semibold txt">{{user}}</p>
      <p class="text-sm text-gray-500">
        Відгук від покупця. Продавець:
        <span class="text-green-600 font-medium">Rozetka</span>
      </p>
    </div>
  </div>

  <!-- Текстовое поле с кнопкой внутри -->
  <div class="relative">
    <textarea [(ngModel)]="textCommit" rows="4" placeholder="Напишіть свій коментар"
      class=" bg-gray w-full px-4 py-3 pr-20 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 text-sm resize-none"></textarea>

    <!-- Кнопка внутри textarea -->
    <button type="submit" (click)="saveToLocalStorage()" [disabled]="textCommit.trim() === ''"
      class="absolute bottom-3 right-3 bg-green-600 text-white px-4 py-2 text-sm rounded-lg shadow-md font-medium hover:bg-green-700 hover:shadow-lg transition-all duration-300 disabled:opacity-50 disabled:cursor-not-allowed">
      Надіслати
    </button>
  </div>
</div>


<ul class="space-y-4 mt-5 ">
  <li *ngFor="let comment of comments.slice().reverse(); let i = index" class="box-commit p-4 rounded-xl shadow-md">
    <div class="flex items-start gap-3">
      <img [src]="randomAvatars[i]" alt="Avatar" class="w-10 h-10 rounded-full object-cover" />

      <div>
        <h4 class="font-semibold ">{{comment.user}}</h4>
        <p class=" text-sm mt-1">
          {{ comment.com }}
        </p>
      </div>
    </div>
  </li>
</ul>