.header {
    background-color: var(--color-black);
    width: 100%;
}

.header>.layout {
    padding: 0 32px 0 32px;
    max-width: 1600px;
    margin: 0 auto;
}

.inside-layout {
    height: 64px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.txt {
    font-family: "DM Serif Text", serif;
    color: var(--color-white);
}

.search {
    flex-grow: 1;
    margin-right: 10px;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background-color 0.3s ease;
}

.burger {
    cursor: pointer;
    border-radius: 4px;
    transition: 300ms;
    background-color:  var(--color-black);
}

.burger:hover {
    background-color: #fff3;
}

.button-comparisons,
.button-admin,
.button-cart {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    transition: 200ms;
    border-radius: 4px;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.button-comparisons:hover,
.button-admin:hover,
.button-cart:hover {
    background-color: #fff3;
}

.cart-count {
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(20%, -10%);
    background-color: #00a046;
    color: white;
    font-size: 14px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    pointer-events: none;
    padding: 4px 4px 4px 4px;
}

.select_currency{
    margin-left: 4%;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    padding: 5px;
    &:hover{
        background-color: #fff3;
    }
    
    .option_currency{
        background-color: black;
    }
}

@media (max-width: 1200px) {
    .txt{
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .txt{
        display: none;
    }
}

@media (max-width: 768px) {
    .button-comparisons{
        display: none;
    }
    .button-admin{
        display: none;
    }
    .select_currency{
        font-size: 14px;
    }
}

@media(max-width:476px){
    .layout{
        max-width: 476px;
    }
    .header>.layout {
        padding: 0px 10px 0px 10px;
    }
    /* .logo_size{
        width: 25px;
        height: 25px;
    } */
     .picture{
        width: 25px;
        height: 25px;
     }
    
    .txt{
        display: none;
    }

    .button-admin{
        width: 25px;
        height: 25px;
    }
    .select_currency{
        width: 55px;
        height: 34px;
        font-size: 12px;
    }
    .button-cart{
        margin: 0px 0px 0px 5px;
    }
    .button-comparisons{
        margin: 0px 0px 0px 5px;
    }
    /* .header_input_size{
        width:10%;
        display: block;
    } */
     .search{
        /* height: 20px; */
        flex-grow: 0,5;
        width: 40%;
    } 
}