<header class="header">
    <div class="layout">
        <div class="inside-layout">
            <button class="mr-[10px] burger" type="button"><svg width="40" height="40" viewBox="0 0 100 100"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect x="25" y="30" width="50" height="6" rx="3" fill="white" />
                    <rect x="25" y="47" width="50" height="6" rx="3" fill="white" />
                    <rect x="25" y="64" width="50" height="6" rx="3" fill="white" />
                </svg></button>
            <a href="#" class="picture h-[40px] w-[40px]  block"><img class="h-full w-full" src="./logo.png"
                    alt=""></a>>
            <a href="#" class="txt text-3xl font-bold text-white block mr-10">Mini-YozetkaSan</a>
            <div class="search">
                <header-input></header-input>
            </div>
            <ul class="navigation">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</header>