.inner-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: var(--grey);
    border-radius: 8px;
}

.inner-form-input {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.inner-form-input>input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    font-size: 14px;
    padding-left: 40px;
    background-color: var(--grey);
    outline: none;
    border-radius: 8px;
    font-size: 14px;
    background-image: url(/find.png);
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: 8px center;
    color: var(--text-color);
}

/* Button */

.find {
    font-family: "DM Serif Text", serif;
    border: none;
    border-radius: 8px;
    outline: none;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    box-sizing: border-box;
    line-height: normal;
    transition: 200ms;
}

.find:hover {
    background-color: #00bc52;
}

@media(max-width:476px){
    .find{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
    }
    .inner-form-input>input{
        width: 100%;
        background-image: none;
        padding-left: 5px;
    }
    /* .inner-form-input{
        width: 300px;
    } */
    .inner-form{
        width: 100%;
    }
    form{
        width: 100%;
    }
    /* form{
        display: none;
    } */

    /* Это основной блок */
    /* .inner-form-input{
        display: none;
    } */
}