:host {
    max-width:1632px ;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;

     .profile_container{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 2%;
        margin-top: 2%;
        height: 100%;
        max-height: 800px;
        width: 35%;
        color: var(--text-color);

        .change_ava_input_container{
                position: absolute;
                top: 44%;
                left: 0;
                z-index: 100;
                border-radius: 10px;
                display: flex;
                width: 85%;
                
                input{
                    background-color: var(--grey);
                    width: 100%;
                    margin-right:2%;
                    outline: none;
                    padding: 5px;
                    border-radius: 10px;
                    box-shadow: 0px 0px 0px 2px var(--text-color);
                }
                button{
                    font-size: 20px;
                    border-radius: 10px;
                    padding: 10px;
                    background-color: #00a63e;
                    cursor: pointer;
                    box-shadow: 0px 0px 0px 2px #00a63e;
                    transition: background-color 0.3s ease;
                    transition: box-shadow 0.3s ease;
                    &:hover{
                       background-color: #008c34;
                       box-shadow: 0px 0px 0px 2px #008c34;
                    }
                }
            }
        .profile_icon{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 50%;
            
            .profile_setting{
                position: relative;
                margin-top: 5%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items:center;
                height: 15%;
                p{
                    font-size: 35px;
                    margin-right: 5%;
                }
                
                .edit_container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    .change_ava{
                        filter: var(--invert);
                        max-width: 50px;
                        cursor: pointer;
                    }
                    button{
                    color: white;
                    font-family: "Gill Sans", sans-serif;
                    font-size: 25px;
                    cursor: pointer;
                    background-color: #e63946;
                    border-radius: 10px;
                    padding: 10px 20px;
                    transition: background-color 0.3s ease;
                    &:hover{
                        background-color: #d4002a;
                    }
                }
                }
                
            }
            img{
                border-radius: 10px;
                width: 100%;
                height: 80%;
                object-fit: contain;
                object-position:left center;
            }
            
        }
        .search_added_product{
            margin-top: 5%;
            padding: 10px;
            width: 100%;
            border-radius: 10px;
            outline: none;
            &::placeholder{
                color: #9ca3af;
            }
           
        }
        .added_product{
            width: 100%;
            min-height: 300px;
            max-height: 50%;
            overflow-y: auto;
            margin-top: 3%;
            
            .items_for_sale:first-child .item_сontainer {
                margin-top: 0;
            }

            .items_for_sale{
                
                .item_сontainer{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: 1px solid var(--text-color);
                    border-radius: 10px;
                
                    margin-top: 5%;
                    
                    .img_div{
                        min-width: 150px;
                        min-height: 150px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            border-radius: 10px;
                            object-fit:contain;
                            height: 118px;
                        }
                    }
                    .item_naming{
                        text-align: center;
                        font-size: 25px;
                        line-height: 150px; 
                        width: 500px;
                        min-height: 150px;
                        overflow:hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .edit_delete_container{
                        display: flex;
                        justify-content:center;
                        align-items: center;
                        width: 60%;
                        .edit{
                            filter: var(--invert);
                            opacity: 0.4;
                            cursor: no-drop;
                            max-width: 70px;
                        }
                        button{
                            color: white;
                            cursor: pointer;
                            background-color: #e63946;
                            border-radius: 10px;
                            padding: 10px 15px;
                            margin-right: 2%;
                            margin-left: 2%;
                            transition: background-color 0.3s ease;
                            &:hover{
                                background-color: #d4002a;
                            }
                        }
                    }
                    
                }
            }
        }
    }

    .form_container {
        max-height: 800px;
        border-radius: 12px;
        margin: 2%;
        width: 65%;
        padding: 30px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .form_name {
            display: flex;
            align-items: center;
            margin-bottom: 3%;

            img {
                width: 28px;
                border-radius: 50%;
                margin-right: 10px;
            }

            p {
                font-family: "Gill Sans", sans-serif;
                font-size: 35px;
                font-weight: 700;
                color: #00a63e;
            }
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .input_container {
                width: 80%;
                margin-bottom: 3%;

                p {
                    font-size: 16px;
                    font-weight: 500;
                    color: var(--text-color);
                    margin-bottom: 8px;
                }

               
                input, textarea {
                    /* background-color: #f9fafb; */
                    width: 100%;
                    padding: 12px;
                    border-radius: 8px;
                    font-size: 16px;
                    color: var(--text-color);
                    transition: border-color 0.3s ease, box-shadow 0.3s ease;

                    &::placeholder {
                        color: #9ca3af;
                    }

                    &:hover {
                        border: 1px solid;
                        border-color: #00a63e;
                    }

                    &:focus {
                        outline: none;
                        border: 1px solid;
                        box-shadow: 0 0 0 3px rgba(0, 166, 62, 0.1);
                        background-color: var(--grey);
                    }

                    &.ng-touched.ng-invalid {
                        border: 1px solid;
                        border-color: #e63946;
                        box-shadow: 0 0 0 3px rgba(230, 57, 70, 0.1);
                    }

                    &.ng-valid {
                        border: 1px solid;
                        border-color: #00a63e;
                        box-shadow: 0 0 0 3px rgba(0, 166, 62, 0.1);
                    }
                }
                input{
                    &::placeholder {
                        color: #9ca3af;
                    }

                    &:hover {
                        border: 1px solid;
                        border-color: #00a63e;
                    }

                    &:focus {
                        outline: none;
                        border: 1px solid;
                        border-color: #00a63e;
                        box-shadow: 0 0 0 3px rgba(0, 166, 62, 0.1);
                        background-color: var(--grey);
                    }

                    &.ng-touched.ng-invalid {
                        border: 1px solid;
                        border-color: #e63946;
                        box-shadow: 0 0 0 3px rgba(230, 57, 70, 0.1);
                    }

                    &.ng-valid {
                        border: 1px solid;
                        border-color: #00a63e;
                        box-shadow: 0 0 0 3px rgba(0, 166, 62, 0.1);
                    }
                }
                
                textarea {
                    resize: none;
                    height: 120px;
                    transition: border-color 0.3s ease, box-shadow 0.3s ease;
                    border: 1px solid #d1d5db;
                    &::placeholder {
                        color: #9ca3af;
                    }

                    &:hover {
                        border: 1px solid;
                        border-color: #00a63e;
                    }

                    &:focus {
                        outline: none;
                        border: 1px solid;
                        border-color: #00a63e;
                        box-shadow: 0 0 0 3px rgba(0, 166, 62, 0.1);
                        background-color: var(--grey);
                    }

                    &.ng-touched.ng-invalid {
                        border: 1px solid;
                        border-color: #e63946;
                        box-shadow: 0 0 0 3px rgba(230, 57, 70, 0.1);
                    }

                    &.ng-valid {
                        border: 1px solid;
                        border-color: #00a63e;
                        box-shadow: 0 0 0 3px rgba(0, 166, 62, 0.1);
                    }
                }
            }

            .submit_price {
                width: 80%;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                margin-top: 20px;
                .price_container{
                    display: flex;
                    align-items: end;
                    position: relative;
                    select{
                        margin-left: 1%;
                        width:100%;
                        padding: 12px;
                        border: 1px solid #d1d5db;
                        border-radius: 8px;
                        font-size: 16px;
                        color: black;
                        cursor: pointer;
                        transition: border-color 0.3s ease, box-shadow 0.3s ease;
                        appearance: none;
                        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
                        background-repeat: no-repeat;
                        background-position: right 12px center;
                        background-size: 18px;
                        &::placeholder {
                                color: #9ca3af;
                            }

                            &:hover {
                                border-color: #00a63e;
                            }

                            &:focus {
                                outline: none;
                                border-color: #00a63e;
                                box-shadow: 0 0 0 3px rgba(0, 166, 62, 0.1);
                                background-color: var(--grey);
                            }

                            &.ng-touched.ng-invalid {
                                border-color: #e63946;
                                box-shadow: 0 0 0 3px rgba(230, 57, 70, 0.1);
                            }

                            &.ng-touched.ng-valid {
                                border-color: #00a63e;
                                box-shadow: 0 0 0 3px rgba(0, 166, 62, 0.1);
                                
                            }
                    }
                    .input_price {
                        width: 100%;
                        display: flex;
                        flex-direction: column;

                        p {
                            font-size: 16px;
                            font-weight: 500;
                            color: var(--text-color);
                            margin-bottom: 8px;
                        }

                        input {
                            width: 100%;
                            padding: 12px;
                            border: 1px solid #d1d5db;
                            border-radius: 8px;
                            font-size: 16px;
                            text-align: center;
                            -webkit-appearance: none;
                            -moz-appearance: textfield;
                            appearance: none;
                            transition: border-color 0.3s ease, box-shadow 0.3s ease;
                            flex-direction: column;
                            color: var(--text-color);

                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                            }

                            &::placeholder {
                                color: #9ca3af;
                            }

                            &:hover {
                                border-color: #00a63e;
                            }

                            &:focus {
                                outline: none;
                                border-color: #00a63e;
                                box-shadow: 0 0 0 3px rgba(0, 166, 62, 0.1);
                                background-color: var(--grey); 
                            }

                            &.ng-touched.ng-invalid {
                                border-color: #e63946;
                                box-shadow: 0 0 0 3px rgba(230, 57, 70, 0.1);
                            }

                            &.ng-valid {
                                border-color: #00a63e;
                                box-shadow: 0 0 0 3px rgba(0, 166, 62, 0.1);
                            }
                        }
                    }
                }

                

                .select_container {
                    width: 30%;
                    select.category_select {
                        width: 100%;
                        padding: 12px;
                        border: 1px solid #d1d5db;
                        border-radius: 8px;
                        font-size: 16px;
                        color: black;
                        cursor: pointer;
                        transition: border-color 0.3s ease, box-shadow 0.3s ease;
                        appearance: none;
                        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
                        background-repeat: no-repeat;
                        background-position: right 12px center;
                        background-size: 18px;

                        &:hover {
                            border-color: #00a63e;
                        }

                        &:focus {
                            outline: none;
                            border-color: #00a63e;
                            box-shadow: 0 0 0 3px rgba(0, 166, 62, 0.1);
                            background-color: var(--grey);
                        }

                        option[value=""] {
                            color: #9ca3af;
                        }
                    }
                }

                button {
                    cursor: pointer;
                    background-color: #00a63e;
                    color: white;
                    border: none;
                    border-radius: 8px;
                    padding: 12px 24px;
                    font-size: 16px;
                    font-weight: 500;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: #008c34;
                    }

                    &:disabled {
                        background-color: #d1d5db;
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
}


.modal_confirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .window {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 10px #000;

        p {
            color: #2d2d2d;
            font-size: 20px;
            margin-bottom: 15px;
        }
        .btn_container{
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: white;
            button {
                width: 100px;
                margin-left: 15px;
                margin-right: 15px;
                padding: 8px 20px;
                border-radius: 8px;
                cursor: pointer;
                border: none;

                &:first-of-type {
                    background-color: #e63946;
                }

                &:last-of-type {
                    background-color: #00a63e;
                }
            }
        }
            
    }
}


input {
    border: 1px solid #d1d5db;
}

.errors{
    color: red;
    position: absolute;
    li{
        font-weight: 400;
        font-size: 0.9em;
    }
    
}

.errors_price{
    color: red;
    position: absolute;
    bottom: -30%;
    li{
        font-weight: 400;
        font-size: 0.9em;
    }
    .long_err{
       width: 360px;
    }
}

.blurred{
    filter: blur(15px);
}

:host-context(body.dark-theme) .price_container{
    select{
        color: var(--text-color) !important;
    }
   
}
:host-context(body.dark-theme) .select_container{
    select{
        color: var(--text-color) !important;
    }
}

:host-context(body.dark-theme) .form_container{
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
}


.added_product::-webkit-scrollbar {
  width: 10px;
}


.added_product::-webkit-scrollbar-track {
  background: rgba(68, 173, 42, 0.518);
  margin-right: 6px;
  border-left: 6px solid transparent; 
  background-clip: content-box;        
}

.added_product::-webkit-scrollbar-thumb {
  background: rgb(101, 184, 80);
  border-radius: 20px;
  border-left: 6px solid transparent; 
  background-clip: content-box;
}


.modal_overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_window {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal_btns {
  display: flex;
  justify-content: space-between;
}



@media (max-width: 1600px){
    :host{
        .profile_container{
            .change_ava_input_container{
                width: 100%;
            }
        }
    }   
    
    
}


@media (max-width: 1200px) {
    :host{
        height: unset;
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        .profile_container{
            align-items: center;
            width: 100%;
            max-height: unset;
            margin: unset;

            .change_ava_input_container{
                top: 56%;
                left: 6%;
                width: 50%;
            }
            .profile_icon{
                width: 85%;
            }
            .search_added_product{
                width: 85%;
            }
            .added_product{
                margin-top: 2%;
                margin-bottom: 2%;
                width: 85%;
                min-height: 300px;
                max-height: 340px;
                .items_for_sale{
                    .item_сontainer{
                        margin-top: 2%;
                    }
                }
            }
            
        }
        .form_container{
            width: 85%;
        }
    }
    
}


@media (max-width: 1025px) {
    :host{
        height: unset;
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        .profile_container{
            align-items: center;
            width: 100%;
            max-height: unset;
            margin: unset;

            .change_ava_input_container{
                top: 53%;
                left: 6%;
                width: 50%;
            }
            .profile_icon{
                width: 85%;
            }
            .search_added_product{
                width: 85%;
            }
            .added_product{
                margin-top: 2%;
                margin-bottom: 2%;
                width: 85%;
                min-height: 300px;
                max-height: 340px;
                .items_for_sale{
                    .item_сontainer{
                        margin-top: 2%;
                    }
                }
            }
            
        }
        .form_container{
            width: 85%;
        }
    }
    
}


@media (max-width: 837px) {
    :host{
        height: unset;
        flex-direction: column;
        align-items: center;
        padding: unset;
        .profile_container{
            margin: unset;
            align-items: center;
            max-height: unset;
            padding: 20px 4px 10px 4px;
            .change_ava_input_container{
                top: 60%;
                left: 3%;
                width: 50%;
            }
            
            .profile_icon{
               width: 97%;
            }
            .search_added_product{
                width: 97%;
            }
            .added_product{
                margin-top: 2%;
                margin-bottom: 2%;
                width: 97%;
                min-height: 200px;
                max-height: 210px;
                .items_for_sale{
                    .item_сontainer{
                        margin-top: 2%;
                    }
                }
            }
            
        }
        .form_container{
            width: 100%;
            form{
                .input_container{
                    width: 100%;
                }
                .submit_price{
                    width: 100%;
                }
            }
           
        }
    }
    
}

@media (max-width: 500px) {
    :host{
        height: unset;
        max-width: 580px;
        flex-direction: column;
        align-items: center;
        padding: unset;
        .profile_container{
            padding: 10px;
            margin: unset;
            align-items: center;
            width: 400px;
            max-height: unset;

             .change_ava_input_container{
                top: 44%;
                left: 3%;
                width: 90%;
            }
            
            .profile_icon{
                max-width: 400px;
            }
            .search_added_product{
                width: 100%;
            }
            .added_product{
                margin-top: 2%;
                margin-bottom: 2%;
                width: 100%;
                min-height: 200px;
                max-height: 210px;
                .items_for_sale{
                    .item_сontainer{
                        margin-top: 2%;
                        .edit_delete_container{
                            margin-right: 2%;
                            img{
                                max-width: 40px;
                            }
                            button{
                                padding: 10px;
                            }
                        }
                    }
                }
            }
            
        }
        .form_container{
            width: 100%;
            
            form{
                .input_container{
                    width: 100%;
                }
                .submit_price{
                    width: 100%;
                }
            }
           
        }
    }
    
}

@media (max-width: 400px) {
    :host{
        height: unset;
        max-width: 580px;
        flex-direction: column;
        align-items: center;
        padding: unset;
        .profile_container{
            margin: unset;
            align-items: center;
            width: 360px;
            max-height: unset;

             .change_ava_input_container{
                top: 44%;
                left: 3%;
                width: 90%;
            }
            
            .profile_icon{
                max-width: 400px;
            }
            .search_added_product{
                width: 100%;
            }
            .added_product{
                margin-top: 2%;
                margin-bottom: 2%;
                width: 100%;
                min-height: 200px;
                max-height: 210px;
                .items_for_sale{
                    .item_сontainer{
                        margin-top: 2%;
                        .edit_delete_container{
                            margin-right: 2%;
                            img{
                                max-width: 40px;
                            }
                            button{
                                padding: 10px;
                            }
                        }
                    }
                }
            }
            
        }
        .form_container{
            width: 100%;
            
            form{
                .input_container{
                    width: 100%;
                }
                .submit_price{
                    width: 100%;
                }
            }
           
        }
    }
    
}