.itemProdBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--grey);
    /* background-color: var(--grey); */
}

.txtPay {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 80px;
    overflow: hidden;
    font-size: 100%;
}

.txt {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: inherit;
    text-decoration: none;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3em;
    transition: 200ms;
    width: 80%;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}
svg{
filter: var(--invert);
}
