<form action="">
    <div class="form_header">
        <h3>Вход</h3>
        <img src="https://www.svgrepo.com/show/513658/cross.svg" alt="X-close">
    </div>
    <hr>
    <div class="forma_container">
        <div class="input_container">
            <p class="name_forma">Логин</p>
            <input class="login" type="text">
        </div>
        <div class="input_container">
            <p>Пароль</p>
            <input type="text">
        </div>
        
        <button>Войти</button>
    </div>
    
</form>