<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form_header">
        <h3>Вхiд</h3>
        <img (click)="closeForm()" src="https://www.svgrepo.com/show/513658/cross.svg" alt="X-close">
    </div>
    <hr>
    <div class="forma_container">
        <!-- <div class="input_container">
            <p class="name_forma">Логин</p>
            <input formControl="login" class="login" type="text">
        </div> -->
        <div class="input_container">
            <p>Пароль</p>
            <input formControlName="password" type="text">
        </div>
        
        <button type="submit" [disabled]="loginForm.invalid">Увiйти</button>
    </div>
    
</form>