<!-- Оверлей -->
<div class="menu-overlay" [class.visible]="isOpen" (click)="onCloseClick()"></div>

<!-- Меню -->
<div class="mobile-menu" [class.active]="isOpen">
  <!-- Верхняя панель -->
  <div class="top-bar">
    <img src="/logo.svg" alt="Logo" class="logo" />
    <span class="title">Mini-Yozetka</span>
    <button class="close-btn" (click)="onCloseClick()">✕</button>
  </div>
  <div class="container overflow-y-scroll ">
    <!-- Каталог -->
    <button class="catalog-btn" (click)="toggleCategories()">
      Каталог товарів
    </button>

    <!-- Категории -->
    <ul class="category-list" *ngIf="showCategories">
      <li routerLink="/category/device">Техніка та інструменти</li>
      <li routerLink="/category/cloth">Одяг, взуття та прикрасси</li>
      <li routerLink="/category/eat">Їжа та напої</li>
      <li routerLink="/category/food_pets">Зоотовари</li>
      <li routerLink="/category/chemic">Побутова Хімія</li>
    </ul>

    <!-- Пользователь -->
    <div class="user-info">
      <p><strong>User Name</strong></p>
      <p>your-main-addres&#64;gmail.com</p>
    </div>

    <!-- Основне -->
    <h4 class="menu-heading">🛍️ Основне</h4>
    <ul class="menu-list">
      <li routerLink="/cart">🛒 Кошик<span class="badge">{{ cartCount }}</span></li>
      <li style=" opacity: 0.4;filter: grayscale(100%);cursor: not-allowed;" disabled>❤️ Списки
        бажаного</li>
      <li style=" opacity: 0.4;filter: grayscale(100%);cursor: not-allowed;" disabled>👀
        Переглянуті товари</li>
    </ul>

    <!-- Інформація про компанію -->
    <h4 class="menu-heading">ℹ️ Інформація про компанію</h4>
    <ul class="menu-list">
      <li routerLink="/about">Про нас</li>
      <li routerLink="/terms">Умови використання</li>
      <li routerLink="/contacts">Контакти</li>
    </ul>

    <!-- Допомога -->
    <h4 class="menu-heading">🛠️ Допомога</h4>
    <ul class="menu-list">
      <li routerLink="/delivery">Доставка</li>
      <li routerLink="/warranty">Гарантія</li>
      <li routerLink="/returns">Повернення</li>
    </ul>

    <!-- Сервіси -->
    <h4 class="menu-heading">🎯 Сервіси</h4>
    <ul class="menu-list">
      <li routerLink="/bonus">Бонусний рахунок</li>
      <li routerLink="/gift-cards">Подарункові сертифікати</li>
    </ul>

    <!-- Адміністрування -->
    <h4 class="menu-heading">🔐 Адміністрування</h4>
    <ul class="menu-list">
      <li routerLink="/login">Вхід для адміністратора</li>
    </ul>
  </div>
</div>