

.itemProdBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    width: 100%;
    border-radius: 10px;
    gap: 20px;
}

.buy {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: #00a046;
    color: #fff;
    gap: 10px;
    font-size: 20px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.boxImgItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.textProd {
    font-size: 25px;
    margin-bottom: 30px;
}

.readyTxt {
    color: var(--color-green-600);
    font-size: 18px;
}

.price {
    font-size: 30px;
    font-weight: 550;
}

.grey {
    display: flex;
    align-items: center;
    gap: 1%;
    color: gray;
    padding: 10px;
}

.readyBox {
    margin-top: 20px;
    margin-bottom: 10px;
}

.txtPay {
    align-items: center;
}

.padding10 {
    padding: 10px;
}

.textdeliv {
    font-weight: 550;

}

.colorgreen {
    color: var(--color-green-600);
}

.flex {
    display: flex;
}

.gap5 {
    gap: 5px;
}

.column {
    flex-direction: column;
}



/* color:var(--color-green-600) */

app-header-catergory {
    align-self: flex-start;
}