/* div {
    background-color: var(--grey);
} */

.itemProdBox {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    gap: 15px;
    border: 1px solid var(--grey);
}

.sellerTxt{
    background-color: #ffffff93;
    border-radius: 5px;
}

.buy {
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 166, 80);
    color: white;
    gap: 10px;
    font-size: 20px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: 0.7s;
    cursor: pointer;
}

.buy:hover {
    background-color: rgb(0, 197, 95);
}

.textProd {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 500;
}

.readyTxt {
    color: rgb(0, 166, 80);
    font-size: 18px;
}

.price {
    font-size: 30px;
    font-family: "Gill Sans", sans-serif;
    color: var(--text-color);
    margin-top: auto;
}

.grey {
    display: flex;
    align-items: center;
    gap: 1%;
    color: var(--text-color);
    padding: 10px;
}

.readyBox {
    margin-top: 20px;
    padding: 0px 10px;
}

.txtPay {
    align-items: center;
}

.padding10 {
    padding: 10px;
}

.textdeliv {
    font-weight: 550;
    gap: 5px;

}

.colorgreen {
    color: rgb(0, 166, 80);
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

app-header-catergory {
    align-self: flex-start;
}

@media (max-width: 1200px) {
    .textProd{
        font-size: 18px;
        margin-bottom: 15px;
    }
    .itemProdBox{
        gap: 0;
    }
    .readyTxt{
        font-size: 16px;
    }
    .price{
        font-size: 26px;
    }
    .buy{
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 20px;
        height: 50px;
    }
}

@media (max-width: 768px) {
    .itemProdBox{
        font-size: 16px;
    }
    .sellerTxt{
        height: 20%;
        width: 20%;
    }
    .readyBox{
        margin-top: 10px;
    }
    .price{
        font-size: 24px;
    }
    .grey img{
        width: 20%;
        height: 20%;
    }
}

@media (max-width: 568px) {
    .grey img{
        width: 25%;
        height: 25%;
    }
}

@media(max-width:476px){
    .textProd {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .textdeliv{
        text-align: center;
    }
    hr{
        width: 100%;
        height: 2px;
    }
    .grey {
        justify-content: center;
        padding: 0;
    }
    .grey img{
        width: 40%;
        height: 40%;
    }
    .itemProdBox{
        align-items: center;
        gap: 10px;
    }

    .buy{
        font-size: 14px;
        height: 40px;
        width: 90%;
        margin: 5px 0;
    }
    .readyBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .price{
        font-size: 24px;
    }
     .size_span_adaptation{
        align-items: center;
    } 
    .boxImgItem { 
        gap: 10px;   
    }
}