<div class="textProd itemProdBox flex column">{{name}}</div>
<div class="itemProdBox flex column">
    <span class="grey">Продавець: <img height="30%" width="30%"
            src="https://content1.rozetka.com.ua/sellers/logo_svg/original/187326382.svg" alt="" srcset=""></span>
    <hr>
    <span class="readyBox">
        <p class="readyTxt">Є в наявності</p>
        <p class="price">{{price | currency_pipe}}</p>
    </span>

    <button #btn class="flex buy" (click)="addToCart(product);buttonClick(btn)">
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
            </g>
            <g id="SVGRepo_iconCarrier">
                <path
                    d="M6.29977 5H21L19 12H7.37671M20 16H8L6 3H3M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20ZM20 20C20 20.5523 19.5523 21 19 21C18.4477 21 18 20.5523 18 20C18 19.4477 18.4477 19 19 19C19.5523 19 20 19.4477 20 20Z"
                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
        </svg>
        <p class="buyTxt">Купити</p>
    </button>

    <hr>
    <div class="boxImgItem">
        <img height="10%" width="10%" src="https://content2.rozetka.com.ua/payments_methods/logo/original/534616559.jpg"
            alt="rozetka">
        <img height="10%" width="10%" src="https://content2.rozetka.com.ua/payments_methods/logo/original/437858387.jpg"
            alt="privatBank">
        <img height="10%" width="10%" src="https://content1.rozetka.com.ua/payments_methods/logo/original/450067950.jpg"
            alt="monoBank">
        <img height="10%" width="10%" src="https://content2.rozetka.com.ua/payments_methods/logo/original/290040692.jpg"
            alt="pumb">
        <img height="10%" width="10%" src="https://content.rozetka.com.ua/payments_methods/logo/original/359230020.jpg"
            alt="Sense">
        <img height="10%" width="10%" src="https://content.rozetka.com.ua/payments_methods/logo/original/254250966.jpg"
            alt="A-bank">
        <img height="10%" width="10%" src="https://content2.rozetka.com.ua/payments_methods/logo/original/406455401.jpg"
            alt="oshad">
        <img height="10%" width="10%" src="https://content2.rozetka.com.ua/payments_methods/logo/original/380528671.jpg"
            alt="UKRSIBBANK">
        <img height="10%" width="10%" src="https://content2.rozetka.com.ua/payments_methods/logo/original/300740056.png"
            alt="otp">

    </div>
</div>
<span class="padding10 textdeliv flex gap5 size_span_adaptation">Самовивіз з магазинів Rozetka —
    <p class="colorgreen">
        БЕЗКОШТОВНО
    </p>
</span>