.bodyProductPage {
    align-items: center;
    justify-content: center;
    /* overflow-y: scroll; */
    margin-top: 20px;
    height: 100%;
    width: 100%;
}

.boxProductPage {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 30px;
}

.textBox {
    width: 40%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    box-sizing: border-box;
}
.product-banner__picture{
    width: 100%;
    vertical-align: middle;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

app-product-image {
    height: 900px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-header-catergory {
    align-self: flex-start;
    width: 100%;
}

app-tile-price,app-commit-product,app-product-tile-data{
    width: 100%;
}
app-description-product{
    width: 80%;
}

.grey {
    display: flex;
    align-items: center;
    gap: 1%;
    color: gray;
    padding: 10px;
}

.padding10 {
    padding: 10px;
}

.colorgreen {
    color: var(--color-green-600);
}

.flex {
    display: flex;
}

.gap5 {
    gap: 5px;
}

.column {
    flex-direction: column;
}
app-commit-product{
    width: 80%;
}
/* color:var(--color-green-600) */