<div *ngIf="item" class="bodyProductPage flex column">
    <app-header-catergory [category]="item.category"></app-header-catergory>
    <div class="boxProductPage">
        
            <app-product-image [srcImg]="item.picture"></app-product-image>
        
        <div class="textBox">
            <app-tile-price [name]="item.name" [price]="item.price"></app-tile-price>
            <app-product-tile-data></app-product-tile-data>

        </div>
    </div>
    <app-description-product [description]="item.description"/>
    <div class="boxCommit">
        <app-commit-product/>
    </div>

</div>