:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  background-color:var( --background-color);
}

.footer {
  grid-area: footer;
}

.stylish_container p {
  margin-bottom: 15px;
}