:host {
    display: flex;
    height: 100%;
    margin: 0 auto;
    padding: 0px 32px;
    justify-content: center;

}

.category {
    font-size: 24px;
    margin-bottom: 10px;
    width: 100%;
}

.search-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 10px 5vh 0px 5vh;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    color: var(--text-color);
}

.list {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}

.list-container {
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
    border-radius: 24px;

}

.container-img {
    height: 100%;
    width: 20%;
    min-width: 20%;
    background-color: #ffffff;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}

.container-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.star {
    display: flex;
    flex-direction: row;
}

.title {
    display: flex;
    flex-direction: column;
}

.title b {
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    color: var(--color-green-600);
    font-size: 13px;
}

.btn {
    margin-left: 50px;
    background-color: var(--color-green-600);
    font-family: "DM Serif Text", serif;
    border: none;
    border-radius: 8px;
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    box-sizing: border-box;
    line-height: normal;
    transition: 200ms;
    color: white;
}

.btn:disabled {
    background-color: #00bc52;
}

.btn:hover {
    background-color: #00bc52;
}

.btn:active {
    background-color: #00bc52;
}

.tools {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    padding: 50px;
}

.price {
    font-size: 25px;
    font-weight: 400;
    text-wrap: nowrap;
}

.container-search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

}


.search-dont {
    font-size: 28px;
}

.btn-main {

    background-color: #00a046;
    color: #fff;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    outline: none;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: center;
    font-size: 18px;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    transition: 0.3;
}

.btn-main:hover {
    background-color: #00bc52;
    color: #fff;
}