/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
:host{
  main{
    background-color: var( --background-color);
   }
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --grey: #f0f0f0;
  --color33-light: #333;
  --burg-333-text: #333;
  --burg-111-text: #111;
  --burg-222-text: #222;
  --invert:invert(0);
}

body.dark-theme {
  --background-color: #121212;
  --text-color: #ffffff;
  --grey: #7272726f;
  --color33-light: var(--grey);
  --burg-333-text: #c1c1c1;
  --burg-111-text: #7a7a7a;
  --burg-222-text: #bfbfbf;
  --invert:invert(1);
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}
.main_container {
  flex: 1;
  display: flex;
  height: 100%;
  gap: 24px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px 32px;
  background-color: var( --background-color);
  color: var(--text-color);
}
.stylish_container{
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px 32px;
}