/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}
.main_container {
  flex: 1;
  display: flex;
  height: 100%;
  gap: 24px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px 32px;
}
.stylish_container{
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px 32px;
}