<div class="name-card">
    <h2>Кошик</h2>
</div>
<div *ngFor="let item of productCard"   class="main-cart">
    <div id="{{item.id}}" class="item-card">
        <a href="" class="container-img-card">
            <img [src]="item.picture" alt="Картинка">
        </a>
        <div style="width: 40%;" class="conteiner-title">
            <a class="cart-title" href="">
                <span>{{ item.name }}</span>
            </a>
            <span style="font-size: 14px;">Продавець: Mini-YozetkaSan</span>
        </div>
        <app-counter-product [inputCount]="item.quantity"></app-counter-product>
        <div class="container-price">
            <p class="item-cost">{{ product.getTotalPrice() }} ₴</p>
        </div>
        <app-poput-menu></app-poput-menu>
    </div>
</div>
<div class="cart-footer">
    <button class="continue-to-buy" routerLink="">Продовжити покупки</button>
    <div class="cart-footer-cost">
        <div class="cost">
            <span>{{product.getTotalPrice()}}<span style="font-size: 34px;margin-left: 3px;">₴</span></span>
        </div>
        <a class="btn-buy" href=""><span>Оформити замовлення</span></a>
    </div>
</div>