<div class="name-card">
  <h2>Кошик</h2>
</div>
<ng-container *ngIf="productCard.length > 0; else noProducts">
  <div *ngFor="let item of productCard" class="main-cart">
    <div id="{{ item.id }}" class="item-card">
      <div class="left-block">
        <img [src]="item.picture" alt="Фото" />
        <div class="counter">
          <app-counter-product [inputCount]="item.quantity"></app-counter-product>
        </div>
      </div>
    
      <div class="middle-block">
        <a class="cart-title" href="">{{ item.name }}</a>
        <div class="seller">Продавець: Mini-YozetkaSan</div>
    
        <div class="bottom-block">
          <div class="item-cost">{{ item.total | currency_pipe }}</div>
          <app-poput-menu></app-poput-menu>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #noProducts>
  <div class="none-product">
    <img src="./cartNone.svg" alt="" />
    <p>У кошику немає товарів</p>
  </div>
</ng-template>
<div *ngIf="productCard.length" class="cart-footer">
  <div class="boxButton">
    <button class="continue-to-buy" routerLink="">Продовжити покупки</button>
    <button class="continue-to-buy ml-2" (click)="clearCart()">
      Очистити корзину
    </button>
  </div>
  <div class="cart-footer-cost">
    <div class="cost">
      <span>{{ product.getTotalPrice() | currency_pipe }}</span>
    </div>
    <button class="btn-buy" (click)="buy()">
      <span>Оформити замовлення</span>
    </button>
  </div>
</div>
<!-- <div [style.opacity]="isBuy ? 1 : 0" class="offer">
  <span>Дякуемо за покупку</span>
</div> -->
<app-buy-menu (evenClose)="buy()" *ngIf="modal" ></app-buy-menu>
